body{
  text-align: center;
  font-family: Helvetica;
}

.header{
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

a{
  color: white;
}

h1, h2, h3{
  font-weight: bold;
}

h1{
  font-size: 70px;
}

p{
  font-size: 18px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 23px;
}

.main p{
  font-size: 14px;
}

.footer{
  text-align: left;
  color: white;
  background-color: dimgray;
}

.license{
  font-size: 11px;
}
